* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.container {
  border-width: 7px;
  border-style: solid;
  border-color: black;
  border-radius: 65px;

  justify-self: center;

  margin-top: 4px;

  width: 390px;
  height: 710px;
}

.background {
  position: fixed;
  width: 390px;
  height: 710px;
  border-radius: 50px;
  z-index: -1;
}

.cam {
  background: black;
  width: 179px;
  height: 35px;
  margin-left: 100px;
  border-radius: 0px 0px 30px 30px;

  position: absolute;
  z-index: 3;
}
.cam1 {
  background: rgb(45, 45, 45);
  width: 10px;
  height: 10px;
  border-radius: 200px;
}

.cam2 {
  background: rgb(45, 45, 45);
  width: 10px;
  height: 10px;
  border-radius: 200px;
}

.sound {
  background: rgb(45, 45, 45);
  width: 50px;
  height: 8px;
  border-radius: 200px;
}

.cam3 {
  background: rgb(45, 45, 45);
  width: 10px;
  height: 10px;
  border-radius: 200px;
}
.align {
  display: flex;
  padding: 9px;
  gap: 10px;

  justify-content: center;
  align-items: center;
}

.login {
  justify-self: center;
  margin-top: 200px;
  width: 100px;
  height: 100px;
  background-color: transparent;
  backdrop-filter: blur(2px);

  padding: 30px 80px 200px 80px;

  border-radius: 40px;
  justify-items: center;

  border: solid 1px white;
}

.logo {
  justify-self: center;
}

form {
  padding-top: 10px;
  color: black;
}

label {
  font-weight: 500;
}

input {
  margin-top: 5px;
  border-radius: 10px;
  border: solid 1px white;

  padding: 5px;
}

.links {
  padding-bottom: 20px;
  font-size: 8px;
  justify-content: center;
  padding-top: 2px;

  a {
    color: white;
  }
  .link1 {
    padding-bottom: 3px;
  }
}

.button {
  justify-self: center;
}

button {
  padding: 3px 65px 3px 65px;
  background: transparent;
  color: white;
  border: solid 1px white;
  border-radius: 20px;
}

button:hover {
  background: rgba(128, 128, 128, 0.422);
  cursor: pointer;
}

.e-mail {
  padding-bottom: 20px;
}
